body{
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}
.container{
    width: 80%;
    padding: 12px;
    border: 2px dashed black;
    margin-bottom: 24px;
}
.container img{
    width: 350px;
}
/* STATIC EXAMPLE */
.static{
    background-color: lightblue;
}

.static img{
    position: static;
    top: 20px;
    left: 20px;
}
/* RELATIVE EXAMPLE */
.relative{
    background-color: lightgreen;
}
.relative img{
    position: relative;
    top: -60px;
    left: 40px;
}

/* ABSOLUTE EXAMPLE */

.absolute{
    background-color: lightsalmon;
    position: relative;
}
.absolute img{
    width: 80px;
    position: absolute;
    right: 20px;
    bottom: 60px;
}

/* FIXED EXAMPLE */

.fixed{
    background-color: lightseagreen;
}
.fixed img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    bottom: 20px;
    right:20px;
}

/* STICKY EXAMPLE */
.sticky{
    background-color: lightskyblue;
    height: 500px;
    overflow: auto;
}
.sticky img{
    position: sticky;
    top:0px;
    height: 250px;
    
}
